body {
  font-family: 'Poppins', sans-serif;
}
.app-header {
  padding: 10px;
  background-color: rgb(255, 50, 60);
  color: white;
  font-weight: bold;

}

.app-header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


