.user-list {

    display: grid;
    grid-template-columns: repeat(8, auto);
    
    justify-content: space-around;
    
  }
  
  .user-container {
    padding: 0.5em 1em;
    background-color: rgb(96, 47, 152);
  }
  
  .user, .date {
    font-size: 1.2em;
    color: #FFF;
  }
  
  .user {
    min-width: 120px;
  }
  
  .user {
    flex-grow: 1;
  }